<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>ThewayShop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<!-- Start Main Top -->
<div th:replace="header :: header "></div>
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cart</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->

<div class="cart-box-main">
    <div class="container">
        <form th:action="'/shop/addToCart/save'" method="post" th:object="${clientForm}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="itemProduct" th:each="item, status : ${clientForm.entityProducts}">
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" th:src="${item.product.images}"
                                             th:alt="${item.product.name}" th:field="${item.product.images}"
                                             style="height: 124px;width: 96px;"/>
                                    </a>
                                </td>
                                <td class="name-pr"  th:text="${item.product.name}"/>
                                <td class="price-pr">
                                    <p class="price-pr-item" th:text="'$'+${item.product.price}"/>
                                </td>
                                <td class="quantity-box"><input type="number" size="4" th:field="*{entityProducts[__${status.index}__].quantity}" th:value="${item.quantity}"
                                                                min="0" step="1" class="c-input-text qty text"></td>
                                <td class="total-pr">
                                    <p class="total-pr-item" th:text="'$'+${item.product.price}"/>
                                </td>
                                <td class="remove-pr">
                                    <button type="button" class="remove-btn" style="background-color: white">
                                        <img th:src="@{/images/delete.png}" width="20"></button>
                                </td>
                                <td class="price-pr">
                                    <input th:field="*{entityProducts[__${status.index}__].id}" th:value="${item.id}" hidden>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Checkout" type="submit" >
                    </div>
                </div>
            </div>
        </form>
        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total: $</h5>
                        <br/>
                        <div class="ml-auto h5 grand-total" th:text="${cart.totalPrice}"/>
                    </div>
                    <input type="hidden" th:field="*{cart.id}">
                    <hr>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-01.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-02.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-03.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-04.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-05.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-06.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-07.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-08.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-09.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-05.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->


<div th:replace="footer :: footer "></div>

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
        <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="js/jquery.superslides.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/inewsticker.js"></script>
<script src="js/bootsnav.js."></script>
<script src="js/images-loded.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/baguetteBox.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/form-validator.min.js"></script>
<script src="js/contact-form-script.js"></script>
<script src="js/custom.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const grandTotal = document.querySelector(".grand-total")
    let grand = 0
    const itemContainer = document.querySelectorAll(".itemProduct")



    for (const itemContainerElement of itemContainer) {
        const itemPrice = itemContainerElement.querySelector(".price-pr-item")
        const quantity = itemContainerElement.querySelector(".c-input-text")
        const totalPrice = itemContainerElement.querySelector(".total-pr-item")
        const removeBtn = itemContainerElement.querySelector(".remove-btn")

        totalPrice.textContent = "$"+parseInt(itemPrice.textContent.replace("$","")) * parseInt(quantity.value);
        quantity.addEventListener('click', function () {
            totalPrice.textContent = "$"+parseInt(itemPrice.textContent.replace("$","")) * parseInt(quantity.value)
            updateGrandPrice()
        })
        removeBtn.addEventListener('click', removeItem)
    }

    function updateGrandPrice() {
        const itemContainer = document.querySelectorAll(".itemProduct")
        grand = 0
        for (const itemContainerElement of itemContainer) {
            const totalPrice = itemContainerElement.querySelector(".total-pr-item")
            grand += parseInt(totalPrice.textContent.replace("$",""))
        }
        grandTotal.textContent = grand
        console.log('updated');
    }

    function removeItem(event) {
        let removeBtn = event.target
        removeBtn.parentElement.parentElement.parentElement.remove()
        updateGrandPrice()
    }

    updateGrandPrice()

</script>
</body>

</html>